<div class="modal" id="modalConfirmation" tabindex="-1" role="dialog"
	aria-labelledby="modalConfirmationLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div id="modal-messages"></div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" id="btnModalConfirmationNo" class="btn btn-primary" data-dismiss="modal">${no}</button>
				<button type="button" id="btnModalConfirmationYes" class="btn btn-danger">${yes}</button>
			</div>
		</div>
	</div>
</div>
